body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
    /* font-family: 'Courier New', Courier, monospace; */

    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    /* background-color: #d3dce3; */
    /* background: linear-gradient(to left,rgba(7,27,82,1) 0%, rgba(0, 128,128,1) 100%); */
    background: linear-gradient(to left,rgb(2, 24, 44) 0%, rgb(53, 0, 58) 100%);
    color: whitesmoke;
    font-size: 18px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, a, li, ol {
    margin: 0;
    padding: 0;
}
.navbar ul {
    margin: 0 0 0 auto;
}
.passCodeBtn-div button {
    width: 50%;
}
.errorCode {
    color: #ec1d32;
}
select {
    margin: 0 0 1em 0;
}
.banner {
    padding: 2em;
    height: 23em;
    background-image: url(../images/img-04.jpg);
    background-color: rgb(29, 29, 29);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner .banner-content {
    max-width: 70%;
    margin: 0 auto;
}
.banner-content div a button {
    width: 10em;
}
.staff-table {
    overflow-y: scroll;
    -ms-overflow-style: inherit;
    height: 21.1em;
    margin: 0 auto;
    background-color: rgb(6, 80, 79);
    padding: 1em;
    border: 1px solid rgb(30, 128, 128);
    border-radius: 10px;
}
#chancellor, #lecturers, #others {
    margin: 1em;
    text-align: center;
}
table td {
padding: .8em;
}
table, table td, table th {
    color: whitesmoke;
}
footer {
    position: relative;
    text-align: center;
    width: 100%;
    top: 100px;
    margin: 20px auto;
}
.student-platform-div {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.appointment-div {
    padding: 1em;
    border: 1px solid rgba(14, 127, 114, .5);
    border-radius: 20px;
    max-width: 50%;
    min-height: auto;
    margin: 15px auto;
}